:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
}

.navbar-nav{
    max-width: 100% ;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    width: calc(var(--nav-size)*0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button{
    --button-size: calc(var(--nav-size)* 0.5);
    width: var(--button-size);
    height:var(--button-size);
    background-color: #c2c2c2;
    border-radius: 50%;
    margin: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}
.icon-button-profile{
    --button-size: calc(var(--nav-size)* 0.5);
    width: var(--button-size);
    height:var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover{
    filter: brightness(1.2);
}
.icon-button-profile:hover{
    filter: brightness(1.2);
}
.dropdown {
    position: absolute;
    top: 72px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}

.menu-item{
    height: 50px;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover{
    background-color: #525357;
}

.icon-right {
    margin-left: auto;
}

.menu{
    width: 100%;
}

.input-button{
    border: none;
    margin: 10px;
    font-size: large;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}
.hobby-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.hobby{
    padding: 0px 20px;
    width: 33%;
    flex: 0 0 80px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.input-field label{
    margin: 0 20px
}

.input-field input{
    font-family: inherit;
    margin-bottom: 20px;
    height: 30px;
    border: 0;
    border-bottom: 2px solid gray;
}

.menu-primary-enter{
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active{
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-primary-exit{
    position: absolute;
}
.menu-primary-exit-active{
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-secondary-enter{
    transform: translateX(110%);
}

.menu-secondary-enter-active{
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit-active{
    transform: translateX(110%);
    transition: all var(--speed) ease;
}

.setting-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.setting-wrapper{
    display: flex;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    justify-content:space-between;
    align-items: center;
}

h1{
    margin-bottom: 10px;
}
h2{
    margin: 10px;
}

.settings-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bio-text{
    width: 80%;
    min-height: 200px;
}