.user-container{
    display: flex;
    padding: 20px;
    width: 300px;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: white;
}
.user-container:hover{
    background-color: lightgrey;
}

.user-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user-name{
    padding-left: 10px;
}

.user-icon{
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
}   