.friendsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
    border-right: 2px grey solid;
}
.friend{
    display: flex;
    width: 100%;

}
.friendWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;

}
.friendWrapper:hover{
    background-color: lightgrey;
}
.selected{
    background-color: lightgrey;
}
.imgBadgeWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.textWrapper{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.lastMessage{
    display: inline;
    flex-direction: row;
}
.friendName{
    font-size: 15px;
    margin: 0;
}

.profileImg {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 50%;
}

.chatOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    top: -10px;
    left: -9px;
}