#root{
    background-color: lightblue;
}
.registerWrapper{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:5%;
    background-color: white;
}
.registerForm{
    display: flex;
    width: 90%;
    justify-content: center;
}
.registerMid{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.registerMid input{
    font-family: inherit;
    margin-bottom: 20px;
    height: 30px;
    border: 0;
    border-bottom: 2px solid gray;
}
.registerMid a{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.buttonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.buttonWrapper button{
    display: flex;
    width: 90%;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}
.buttonWrapper button:hover{
    cursor: pointer;
}
.name-container{
    display: flex;
    justify-content: space-between;
    
}
