.messageWrapper{
    display: flex;
    flex-direction: column;
}

.messageWrapper.own{
    align-items: flex-end;
}

.messageText{
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;
}

.messageWrapper.own .messageText{
    background-color: aliceblue;
}